<!--Template's CSS (can edit)-->
<link href="framework/css/sb-admin.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="framework/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!--MAIN BODY OF CONTENT-->
<div id="page-wrapper">

    <div class="container-fluid main-content">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Administrator Settings
                    <small>Manage registered users and plantations</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="dashboard.home">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-gears"></i> Administrators
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
                            <div class="row">
                                <div class="col-xs-3 col-xs-push-9"><a><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Add New Users</button></a></div>
                    </div>
                    <div class="container">
                    <div class="row"> 
                        <div class="col-xs-12">
                            <h4>Users</h4>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <table>
                              <tr>
                                <th>No.</th>
                                <th>Name</th>
                                
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-6">
                                        Maria Anders
                                        </div>               
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>View</button></a></div>
                                        
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-warning">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Edit</button></a></div>
                                        
                                        <div class="col-xs-1">
                                            <a><button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Delete</button></a></div>
                                    </div>
                                </td>
                               
                               
                              </tr>
                              <tr>
                                <td>2</td>
                                 <td>
                                    <div class="row">
                                        <div class="col-xs-6">
                                        Maria Anders
                                        </div>               
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>View</button></a></div>
                                        
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-warning">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Edit</button></a></div>
                                        
                                        <div class="col-xs-1">
                                            <a><button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Delete</button></a></div>
                                    </div>
                                </td>
                                
                              </tr>
                              <tr>
                                <td>3</td>
                                 <td>
                                    <div class="row">
                                        <div class="col-xs-6">
                                        Maria Anders
                                        </div>               
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>View</button></a></div>
                                        
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-warning">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Edit</button></a></div>
                                        
                                        <div class="col-xs-1">
                                            <a><button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Delete</button></a></div>
                                    </div>
                                </td>
                                
                              </tr>
                              <tr>
                                <td>4</td>
                                 <td>
                                    <div class="row">
                                        <div class="col-xs-6">
                                        Maria Anders
                                        </div>               
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>View</button></a></div>
                                        
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-warning">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Edit</button></a></div>
                                        
                                        <div class="col-xs-1">
                                            <a><button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Delete</button></a></div>
                                    </div>
                                </td>
                               
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-6">
                                        Maria Anders
                                        </div>               
                                      <div class="col-xs-1"><a><button type="button" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>View</button></a></div>
                                        
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-warning">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Edit</button></a></div>
                                        
                                        <div class="col-xs-1">
                                            <a><button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Delete</button></a></div>
                                    </div>
                                </td>
                                
                              </tr>
                            </table>  
                            </div>
                        </div>
                    </div>
                    
                    <br/>  <br/> 
                    <div class="container">
                   <div class="row">                   
                                <div class="col-xs-3 col-xs-push-9"><a><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Add New Plantations</button></a></div>
                    </div>
                    
                    <div class="row"> 
                        <div class="col-xs-12">
                            <h4>Plantations</h4>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <table>
                              <tr>
                                <th>No.</th>
                                <th>Plant</th>
                                
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-6">
                                        Misai Kuching
                                        </div>               
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>View</button></a></div>
                                        
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-warning">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Edit</button></a></div>
                                        
                                        <div class="col-xs-1">
                                            <a><button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Delete</button></a></div>
                                    </div>
                                </td>
                               
                               
                              </tr>
                              <tr>
                                <td>2</td>
                                 <td>
                                    <div class="row">
                                        <div class="col-xs-6">
                                        Red Chilli
                                        </div>               
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>View</button></a></div>
                                        
                                        <div class="col-xs-1"><a><button type="button" class="btn btn-warning">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Edit</button></a></div>
                                        
                                        <div class="col-xs-1">
                                            <a><button type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                                            <span class="sr-only"></span>Delete</button></a></div>  
                                    </div>
                                </td>
                                
                              </tr>
                              <tr>

                                
                              </tr>
                            </table>  
                            </div
                        </div>
                    </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
