<!--MAIN BODY OF CONTENT-->
<div id="page-wrapper">

    <div class="container-fluid main-content">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Administrator Settings
                    <small>Manage registered users and plantations</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="dashboard.home">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-gears"></i> Administrator
                    </li>
                </ol>
            </div>
            <div class="col-xs-12">
                <h1>Hello world</h1>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
