<!--Main CSS-->
<link href="framework/css/login.css" rel="stylesheet" />
<div class="background">
    <div class="background-tint">
        <div class="container">
            <div class="row form-row-override">
                <div class="col-xs-12 col-md-6 col-sm-6 col-center form-center form-styling">
                    <form>
                        <fieldset>
                            <legend><img src="images/satoyama-logo.PNG" class="logo" alt="Satoyama"/><br/>Crop Management System</legend>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" id="username" placeholder="Username" data-ng-model="$ctrl.loginInput.username" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" id="password" placeholder="Password" data-ng-model="$ctrl.loginInput.password" />
                            </div>
                            <div class="alert alert-danger" role="alert" data-ng-show="$ctrl.errorMsg!=''" style="margin-top:-15px;">
                                <span class="glyphicon glyphicon-remove"></span> <strong>{{$ctrl.errorMsg}}</strong>
                            </div>
                            <hr />
                        </fieldset>
                        <button type="submit" class="btn btn-block btn-lg btn-primary" data-ng-click="$ctrl.login()"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                    </form>
                </div>
            </div>
            <div class="row form-row-override">
                <div class="col-xs-12" style="text-align: center; margin-top: 15px;">
                    <p style="color: white;">Satoyama Farm SDN BHD. &#169 2018</p>
                </div>
            </div>
        </div>
    </div>
</div>
