<!--MAIN BODY OF CONTENT-->
<div id="page-wrapper">

    <div class="container-fluid main-content">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    {{plant.plantName}}
                    <small>({{plant.plantationID}})</small>
                </h1>
                <ol class="breadcrumb" style="font-size: 1.1em">
                    <li>
                        <i class="fa fa-fw fa-dashboard"></i> <a href="dashboard.home">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-fw fa-pagelines"></i> {{plant.plantName}}
                    </li>
                </ol>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><i class="fa fa-lg  fa-thermometer-three-quarters" aria-hidden="true"></i>  Air Temperature (&#8451;) and Humidity (%)</div>
                            <div class="panel-body">
                                <canvas id="tempHumidity" class="chart chart-line" chart-data="getAirTempAndHumidity(plantLevel.plantationID)" chart-series="tempHumditiyLabels" chart-options="tempAndHumidityOptions" chart-colors="tempHumidityColors" chart-dataset-override="tempHumidityDatasetOverride"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><i class="fa fa-lg  fa-sun-o" aria-hidden="true"></i>  Light Intensity (Lux) </div>
                            <div class="panel-body">
                                <canvas id="lightIntensity" class="chart chart-bar" chart-data="getLightIntensity(plantLevel.plantationID)" chart-series="lightIntensityLabels" chart-options="lightIntensityOptions" chart-colors="lightIntensityColors" chart-dataset-override="lightIntensityDatasetOverride"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><i class="fa fa-lg fa-tint" aria-hidden="true"></i> Soil Moisture (%)</div>
                            <div class="panel-body">
                                <canvas id="soilMoisture" class="chart chart-bar" chart-data="getSoilMoisture(plantLevel.plantationID)" chart-series="soilMoistureLabels" chart-options="soilMoistureOptions" chart-colors="soilMoistureColors" chart-dataset-override="soilMoistureDatasetOverride"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->