.main-content {
    height: 100%;
}

.sticky-footer {
    background-color: lightgrey;
    height: 25px;
    position: absolute;
    width: calc(100% - 120px);
}

#timeNormal {
    color: white;
    display: block;
    position: relative;
    padding: 10px 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    margin: 0
}

#timeSmall {
    color: white;
    display: none;
    position: relative;
    padding: 10px 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    margin: 0
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: lightgreen;
}

@media(max-width: 1100px) {
    .export-btn {
        float: none !important;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
    }

    .export-dropdown {
        float: none !important;
    }
}

@media(max-width: 768px) {
    .export-btn {
        float: none !important;
    }

    .table-responsive {
        overflow: auto !important;
    }

    .table-responsive .dropdown-menu {
        position: relative !important;
    }
}

@media(max-width: 767px) {
    .sticky-footer {
        width: 100%;
    }

    #timeNormal {
        display: none;
    }

    #timeSmall {
        display: block
    }
}

.pull-right > .dropdown-menu {
    right: inherit !important;
}

.side-nav {
    font-size: 1.1em;
}

.conditionsColumn .alert {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    text-align: center;
}

.conditionsColumn {
    vertical-align: middle;
}

.viewBtn {
    border-radius: 15px;
}

.uib-datepicker-current {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.uib-clear {
    display: none;
}

.fill-empty {
    height: 45vh;
}

.navbar-collapse {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/*modify the side nav sizing/style below*/
@media (min-width: 768px) {
    #wrapper {
        padding-left: 120px !important;
    }

    .side-nav {
        width: 120px !important;
        margin-left: -120px !important;
        left: 120px !important;
        box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .side-nav > li {
        width: inherit !important;
    }

    .side-nav > li > a {
        width: inherit !important;
    }

    .side-nav > li > a > .fa {
        font-size: 2em;
        padding-bottom: 5px;
    }

    .side-nav > li > a > span {
        display: block;
    }
}
