.main-content {
    height: 100%;
}

.sticky-footer {
    background-color: lightgrey;
    height: 25px;
    position: absolute;
    width: calc(100% - 225px);
}

@media(max-width: 767px) {
    .sticky-footer {
        width: 100%;
    }
}

.side-nav{
    font-size: 1.1em;
}
