.main-content {
    height: 100%;
}

.sticky-footer {
    background-color: lightgrey;
    height: 25px;
    position: absolute;
    width: calc(100% - 225px);
}

#timeNormal {
    color: white;
    display: block;
    position: relative;
    padding: 10px 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    margin: 0
}

#timeSmall {
    color: white;
    display: none;
    position: relative;
    padding: 10px 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    margin: 0
}

@media(max-width: 1100px) {
    .export-btn {
        float: none !important;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
    }

    .export-dropdown {
        float: none !important;
    }
}

@media(max-width: 768px) {
    .export-btn {
        float: none !important;
    }
    
    .table-responsive {
        overflow: auto !important;
    }
    
    .table-responsive .dropdown-menu {
        position: relative !important;
    }
}

@media(max-width: 767px) {
    .sticky-footer {
        width: 100%;
    }

    #timeNormal {
        display: none;
    }

    #timeSmall {
        display: block
    }
}

.pull-right>.dropdown-menu{
    right:inherit !important;
}

.side-nav {
    font-size: 1.1em;
}

.conditionsColumn .alert {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    text-align: center;
}

.conditionsColumn {
    vertical-align: middle;
}

.viewBtn {
    border-radius: 15px;
}

.uib-datepicker-current {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.uib-clear {
    display: none;
}

.fill-empty{
    height: 45vh;
}
