.col-center {
    float: none;
    margin: 0 auto;
}

.form-center {
    margin-top: 25vh;
}

.form-styling {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
    background-color: #fefaf9;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}

.form-row-override {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

fieldset > legend {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-bottom-color: sandybrown
}

hr {
    border-top-color: sandybrown
}

.btn {
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
}

.btn:active {
    transform: translateY(3px);
}

.logo {
    max-width: 60%;
    max-height: 100%;
}

@media(max-width: 767px) {
    .form-center {
        margin-top: 10vh;
    }
    .form-styling {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-row-override {
        padding-left: 0;
        padding-right: 0;
    }

    .logo {
        max-width: 80%;
        max-height: 100%;
    }
}

.background {
    position: relative;
    z-index: 1;
}

.background:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    background: url(../../images/login-background.jpg);
    background-size: cover
}

.background-tint {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
}

.form-group {
    padding-bottom: 25px;
}
